body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gold;
}
h2{
    text-align: center;
}
form{
    padding: 10px;
    height:650px;
    border-radius: 5px;
    margin-left: 450px;
    margin-right: 300px;
    background-color:orange;
}
label{
    display: block;
    margin: 10px;
    font-weight:bold;
}
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
textarea{
    padding: 8px;
    border:1px solid rgba(245, 245, 245, 0.871);
    border-radius: 3px;
    width: 100%;
    margin-bottom: 2px;

}
select{
    width:100%;
    padding: 8px;
    border:1px solid whitesmoke;
    border-radius: 3px;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: aliceblue;
    background-color:green;
    cursor: pointer;

}
input[type="submit"]:hover{
    background-color:rgb(9, 207, 75);

}
.container{
    width:350px;
    margin: auto;
    height: 700px;
}